### This file will do some basic Exploratory Data Analysis before getting into perspective
#### Gives basic idea of dataset will be working with

In [1]:
# Will be using pandas for data analysis
import pandas as pd

In [2]:
# Load data --> All offensive snaps from 2022-2023 NFL season
path = '../data/nfl-2022-2023.csv'
df = pd.read_csv(path)

# Quick overview of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5257 entries, 0 to 5256
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          5257 non-null   object
 1   team          5257 non-null   object
 2   opp           5257 non-null   object
 3   pos           5257 non-null   object
 4   week          5257 non-null   int64
 5   targets       5257 non-null   float64
 6   rec           5257 non-null   float64
 7   rec_yds       5257 non-null   float64
 8   rec_td        5257 non-null   float64
 9   rush_yds      5257 non-null   float64
 10  rush_td       5257 non-null   float64
 11  spread        5257 non-null   int64
 12  total         5257 non-null   int64
 13  fpts          5257 non-null   float64
 14  snap_total    5257 non-null   int64
 15  snap_percent  5257 non-null   float64
 16  depth         5257 non-null   object
 17  abs-spread    5257 non-null   int64
dtypes: float64(8), int64(5), object(5)
memory usage: 739.4+ KB

In [3]:
df.head(10)

,name,team,opp,pos,week,targets,rec,rec_yds,rec_td,rush_yds,rush_td,spread,total,fpts,snap_total,snap_percent,depth,abs-spread
0,Kyler Murray,ARI,KC,QB,1,0.0,0.0,0.0,0.0,29.0,0.0,-23,65,18.62,57,0.88,QB1,23
1,James Conner,ARI,KC,RB,1,6.0,5.0,29.0,0.0,26.0,1.0,-23,65,16.50,47,0.72,RB1,23
2,Marquise Brown,ARI,KC,WR,1,6.0,4.0,43.0,1.0,0.0,0.0,-23,65,14.30,62,0.95,WR1,23
3,Greg Dortch,ARI,KC,WR,1,9.0,7.0,63.0,0.0,0.0,0.0,-23,65,13.30,59,0.91,WR3,23
4,Zach Ertz,ARI,KC,TE,1,4.0,2.0,14.0,1.0,0.0,0.0,-23,65,9.40,39,0.60,TE1,23
5,Eno Benjamin,ARI,KC,RB,1,4.0,3.0,33.0,0.0,28.0,0.0,-23,65,9.10,22,0.34,RB2,23
6,AJ Green,ARI,KC,WR,1,4.0,2.0,13.0,0.0,0.0,0.0,-23,65,3.30,48,0.74,WR4,23
7,Trace McSorley,ARI,KC,QB,1,0.0,0.0,0.0,0.0,20.0,0.0,-23,65,2.48,8,0.12,QB2,23
8,Andy Isabella,ARI,KC,WR,1,3.0,1.0,10.0,0.0,0.0,0.0,-23,65,2.00,21,0.32,WR4,23
9,Cordarrelle Patterson,ATL,NO,RB,1,5.0,3.0,16.0,0.0,120.0,1.0,-1,53,22.60,49,0.65,RB2,1

In [4]:
# df = df.sort_values(['week', 'team', 'fpts'], ascending=[True, True, False]).reset_index(drop=True)

In [5]:
df.to_csv(path, index=False)

In [4]:
## For now just going to drop all rows without fpts
fpts_df = df.loc[df['fpts'] > 0.0]
fpts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4838 entries, 0 to 5256
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          4838 non-null   object
 1   team          4838 non-null   object
 2   opp           4838 non-null   object
 3   pos           4838 non-null   object
 4   week          4838 non-null   int64
 5   targets       4838 non-null   float64
 6   rec           4838 non-null   float64
 7   rec_yds       4838 non-null   float64
 8   rec_td        4838 non-null   float64
 9   rush_yds      4838 non-null   float64
 10  rush_td       4838 non-null   float64
 11  spread        4838 non-null   int64
 12  total         4838 non-null   int64
 13  fpts          4838 non-null   float64
 14  snap_total    4838 non-null   int64
 15  snap_percent  4838 non-null   float64
 16  depth         4838 non-null   object
 17  abs-spread    4838 non-null   int64
dtypes: float64(8), int64(5), object(5)
memory usage: 718.1+ KB

In [5]:
df.head()

,name,team,opp,pos,week,targets,rec,rec_yds,rec_td,rush_yds,rush_td,spread,total,fpts,snap_total,snap_percent,depth,abs-spread
0,AJ Brown,PHI,DET,WR,1,13.0,10.0,155.0,0.0,0.0,0.0,3,73,25.5,67,0.87,WR1,3
1,AJ Brown,PHI,WAS,WR,10,4.0,1.0,7.0,0.0,0.0,0.0,-11,53,1.7,39,0.78,WR1,11
2,AJ Brown,PHI,IND,WR,11,7.0,5.0,60.0,0.0,0.0,0.0,1,33,10.0,60,0.88,WR1,1
3,AJ Brown,PHI,GB,WR,12,6.0,4.0,46.0,1.0,0.0,0.0,7,73,13.6,77,0.96,WR1,7
4,AJ Brown,PHI,TEN,WR,13,10.0,8.0,119.0,2.0,0.0,0.0,25,45,31.9,60,0.82,WR1,25