### This file will do some basic Exploratory Data Analysis before getting into perspective
#### Gives basic idea of dataset will be working with

In [1]:
# Will be using pandas for data analysis
import pandas as pd

In [2]:
# Load data from data directory, will just use relative path since fairly simple
df = pd.read_csv('../data/nfl-2022-2023-raw.csv')

# Quick overview of dataset, see shape and null values (if any)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5382 entries, 0 to 5381
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             5382 non-null   object
 1   pos              5382 non-null   object
 2   team             5382 non-null   object
 3   opp              5382 non-null   object
 4   week             5382 non-null   int64
 5   pass_cmp         5382 non-null   int64
 6   pass_att         5382 non-null   int64
 7   pass_yds         5382 non-null   int64
 8   pass_td          5382 non-null   int64
 9   pass_int         5382 non-null   int64
 10  pass_sacked      5382 non-null   int64
 11  pass_sacked_yds  5382 non-null   int64
 12  pass_long        5382 non-null   int64
 13  pass_rating      5382 non-null   float64
 14  rush_att         5382 non-null   int64
 15  rush_yds         5382 non-null   int64
 16  rush_td          5382 non-null   int64
 17  rush_long        5382 non-null   int64
 18  targets          5382 non-null   int64
 19  rec              5382 non-null   int64
 20  rec_yds          5382 non-null   int64
 21  rec_td           5382 non-null   int64
 22  rec_long         5382 non-null   int64
 23  fumbles          5382 non-null   int64
 24  fumbles_lost     5382 non-null   int64
 25  fpts             5382 non-null   float64
dtypes: float64(2), int64(20), object(4)
memory usage: 1.1+ MB

In [3]:
df.sample(10)

,name,pos,team,opp,week,pass_cmp,pass_att,pass_yds,pass_td,pass_int,...,rush_td,rush_long,targets,rec,rec_yds,rec_td,rec_long,fumbles,fumbles_lost,fpts
2896,James Conner,RB,ARI,ATL,17,0,0,0,0,0,...,0,16,3,3,31,0,13,0,0,14.00
1935,David Njoku,TE,CLE,LAC,5,0,0,0,0,0,...,0,0,6,6,88,0,38,0,0,14.80
3339,Tony Pollard,RB,DAL,NYG,12,0,0,0,0,0,...,0,13,2,2,1,0,2,0,0,8.10
851,Justin Fields,QB,CHI,GB,13,20,25,254,0,2,...,1,55,0,0,0,0,0,0,0,21.26
3720,Davante Adams,WR,LV,DEN,11,0,0,0,0,0,...,0,0,13,7,141,2,35,0,0,33.10
2292,Dax Milne,WR,WAS,JAX,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0.00
5261,JuJu Smith-Schuster,WR,KC,TB,4,0,0,0,0,0,...,0,0,8,5,46,0,19,0,0,9.60
1750,Cooper Kupp,WR,LAR,ARI,3,0,0,0,0,0,...,1,20,6,4,44,0,14,0,0,16.40
5194,Ben Skowronek,WR,LAR,BUF,1,0,0,0,0,0,...,0,0,6,4,25,0,12,0,0,6.50
4488,Josiah Deguara,TE,GB,NYG,5,0,0,0,0,0,...,0,0,2,2,19,0,12,0,0,3.90